/**************************
HEADING
**************************/
.jumbotron {
  text-align: center;
  background-color: #ffe5b3;
}


/**************************
'ABOUT' SIDEBAR SHAPING
**************************/
.about {
  margin-right: 20px;
  background-color: #66cc9b;
}

.bold {
  font-size: 23px;
  font-weight: bolder;
  color: #ffe5b3;
}

.white {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 17px;
}

/**************************
'LET'S PLAY' SHAPING
**************************/



/**************************
COLORS
**************************/
body {
  background: #E4E4E4 !important; /* grey */
}


.rules {
  background: #E4E4E4; /* grey */
  text-align: left;
}

.my-info {
  background: #60CA95; /* green */
}
