/**************************
HEADING
**************************/
header {
  padding: 40px; 40px;
  background: #FFE1C3; /* peach */
  text-align: center;
}


/**************************
'ABOUT' SIDEBAR SHAPING
**************************/
.about {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.my-info {
  text-align: left;
  padding-bottom: 200%;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  border-top: 10px;
  padding-top: 10px;

}

/**************************
'LET'S PLAY' SHAPING
**************************/



/**************************
COLORS
**************************/
body {
  background: #E4E4E4 !important; /* grey */
}


.rules {
  background: #E4E4E4; /* grey */
  text-align: left;
}

.my-info {
  background: #60CA95; /* green */
}
